ENVIRONMENT=development or production
SECRET_KEY=YOUR_SECRET_KEY_HERE
EMAIL=YOUR_EMAIL_ADDRESS_HERE
EMAIL_PASSWORD=YOUR_EMAIL_PASSWORD_HERE
CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET
STORE_ID=YOUR_STORE_ID
STORE_PASSWORD=YOUR_STORE_PASSWORD
DATABASE_URL=YOUR_DATABASE_URL
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
BACKEND_URL=http://127.0.0.1:8000
FRONTEND_URL=http://localhost:3000